.cardMainContaiener {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

